* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-size: 15px;
  color: #ffffffbf;
  font-family: 'Lexend Deca';
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.vehicle-icon-container {
  width: 60px;
  height: 40px;
  margin-bottom: 30px;
}

.vehicle-icon-container>img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  background-color: #e28525;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}

.container.sedans-container {
  background-color: #e28525;
}

.container.suvs-container {
  background-color: #016972;
}

.container.luxury-container {
  background-color: #00403f;
}

.btn {
  display: flex;
  align-content: flex-start;
}

.btn-sedans {
  text-decoration: none;
  padding: 10px 30px;
  color: #e28525;
  border: #f2f2f2 solid 1px;
  border-radius: 20px;
}

.btn-suvs {
  text-decoration: none;
  padding: 10px 30px;
  color: #016972;
  border: #f2f2f2 solid 1px;
  border-radius: 20px;
}

.btn-luxury {
  text-decoration: none;
  padding: 10px 30px;
  color: #00403f;
  border: #f2f2f2 solid 1px;
  border-radius: 20px;
}

/* Utilities */
.heading {
  color: #ffffffbf;
  font-family: 'Big Shoulders Display';
  font-size: 30px;
  margin-bottom: 30px;
}

.paragraph {
  line-height: 25px;
}

/* Active State */
.btn-sedans:hover,
.btn-suvs:hover,
.btn-luxury:hover {
  cursor: pointer;
  background-color: transparent;
  color: #f2f2f2;
  border: #f2f2f2 solid 2px;
}

/* Mobile */
@media(max-width: 375px) {
  section {
    height: 100%;
    margin: 50px 0px;
  }

  .main-container {
    flex-direction: column;
    width: 85%;
    height: 100%;
  }

  .vehicle-icon-container,
  .heading {
    margin-bottom: 20px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
}

/* iPad */
@media(min-width: 376px) and (max-width: 1359px) {
  section {
    height: 100%;
    margin: 50px 0px;
  }

  .main-container {
    flex-direction: column;
    width: 85%;
    height: 100%;
  }

  .vehicle-icon-container,
  .heading {
    margin-bottom: 20px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
}